---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import MainInfo from "../components/MainInfo.astro";
import Tech from "../components/Tech.astro";
import About from "../components/About.astro";
---

<Layout title="Portfolio | Joel">
	
	<main class="container-sm">
		<section class="md:pb-4 md:mb-24 ">
		 <MainInfo img="/joel.jpeg" bio="FullStack Web developer" />
		</section>
		 <section class="lg:ms-96 lg:ps-[30rem]  md:ms-96 md:ps-72 md:pt-0 md:mt-0  sm:pt-[24rem] sm:mt-[50rem] sm:ms-72 pb-56 " >
		 <About></About>
		</section>
		 <section class="lg:ms-80 lg:ps-72  md:ms-56 md:ps-60 mt-24 sm:ms-72 md:pb-72 sm:pb-56 ">
			<Tech></Tech>
		 </section>


	  <section class=" lg:ms-96 lg:ps-72  md:ms-72 md:ps-60 mt-24 sm:ms-72 md:w-[78.5%] ">
		<h3 class="text-white text-2xl pb-2 ">Proyectos</h3>
		<hr class="w-auto">
		<ul role="list" class="grid  place-content-center place-items-center sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3   gap-4 md:ps-3 "> 
	
			<Card
			  href="https://rick-and-morty-five-nu.vercel.app/"
			  repo="https://github.com/JoelOna/rick-and-morty"
			  title="Rick y Morty"
			  body="Una aplicación que muestra los personajes, episodios y localizaciones de la serie 'Rick And Morty'."
			  technologies={["/angular.svg", "/typescript.svg","/bootstrap.svg"]}
			  img="/rickandmorty.png"
			/>
			<Card
			href="https://leonardocaero.github.io/HAFITs"
			repo="https://github.com/LeonardoCaero/HAFIT"
			title="HAFIT"
			body="Proyecto de final de curso sobre un tienda de venta de suplementos deportivos, accesorios, planes nutricionales y guias de ejercicios."
			technologies={["/expressjs-icon.svg","/angular.svg", "/typescript.svg","/bootstrap.svg"]}
			img="/hafit.png"
		  />
		  <Card
		  href=""
		  repo="https://github.com/JoelOna/portfolio-astro"
		  title="Portfolio"
		  body="Portfolio web dónde muestro información sobre mí como el stack tecnológico, proyectos personales, poder contactar conmigo vía redes sociales o correo electrónico, ver mi experiencia. "
		  technologies={["/favicon.svg", "/tailwind.svg"]}
		  img="/portfolio.png"
		/>
		</ul>
	  </section>
	  
	</main>
	
  </Layout>
  

<style>
	* {
		overflow-x: hidden;
	}
	main {
		margin: auto;
		padding: 1rem;
		/* width: 800px;
		max-width: calc(100% - 2rem); */
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	/* .link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	} */
</style>
