---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import MainInfo from "../components/MainInfo.astro";
import Tech from "../components/Tech.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
---

<Layout title="Portfolio | Joel">

	<main class="container mx-auto px-20">
		<section class="mt-32 pb-20">
			<MainInfo img="/joel.jpeg" bio="FullStack Web developer" />
		</section>
		<section class="pb-20">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white/80"> <svg class="size-7" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path><path d="M12 12l0 .01"></path><path d="M3 13a20 20 0 0 0 18 0"></path></svg>
				Experiencia laboral
			</h2>
			<Experience/>
		</section>
		<section class="pb-20">
		
				<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white/80"> <svg class="size-7" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 8l-4 4l4 4"></path><path d="M17 8l4 4l-4 4"></path><path d="M14 4l-4 16"></path></svg>
					Proyectos
					</h2>
		

			<div
				class="grid sm:grid-cols-1 gap-10 md:ps-3 "
			>
				<Card
				/>
			</div>
		</section>
		<section class="pb-20">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white/80"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-stackshare" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M19 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M5 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M7 12h3l3.5 6h3.5" /><path d="M17 6h-3.5l-3.5 6" /></svg>
				Tecnologias
			</h2>
		<Tech />
	</section>
	</main>
</Layout>

