---

---
<script>
    let i = 0;
const txt = '¡Soy Joel! FullStack web developer'; /* El texto */
const speed = 50; /* La velocidad/duración del efecto en milisegundos */

document.addEventListener('DOMContentLoaded', () => {
  typeWriter();
});

function typeWriter() {
  // Verificar si el elemento con ID "demo" existe
  const demoElement = document.getElementById("demo");

  if (demoElement !== null) { // Comprobar si se encontró el elemento
    if (i < txt.length) {
      demoElement.innerHTML += txt.charAt(i);
      i++;
      setTimeout(typeWriter, speed);
    }
  }
}

</script>
<div
  class="rounded-lg md:w-4/5 bg-neutral-100 p-6 text-neutral-700 shadow-lg dark:bg-gray-800 dark:text-neutral-100 dark:shadow-black/30">
  <h2 class="mb-5 text-3xl font-semibold">¡Hola!</h2>
  <p id="demo"></p>
  <p>
    Desarollador web junior con 1 año de experencia desarollando aplicaciones con laravel, frameworks propios, wordpress, javascript, css.
  </p>
  <hr
    class="my-6 h-0.5 border-t-0 bg-neutral-200 opacity-100 dark:opacity-30" />
  <div class="mb-4 ">
    <ul class="max-w-md space-y-1  list-inside dark:text-gray-200 grid grid-cols-3 gap-60">
        <li class="flex items-center">
            <svg class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
             </svg>
            Proactivo
        </li>
        <li class="flex items-center">
            <svg class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
             </svg>
            Proactivo
        </li>
        <li class="flex items-center">
            <svg class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
             </svg>
            Proactivo
        </li>
    </div>
</div>
<!-- Jumbotron -->