<!--Follow link for animation in action https://play.tailwindcss.com/IpRdROqEoQ -->
<div class="bg-gray-50 min-h-screen flex  px-16">
    <div class="md:ms-96 md:ps-48 mt-24 sm:ms-72">
        <h2 class="text-black">Sobre mí</h2>
    </div>
  </div>