---
const EXPERIENCE = [
    {
        time: "09/01/2023 - Actualidad",
        title: "Junior Backend Developer | ADD Web services",
        description:
            "Desarrallo de aplicaciones en PHP, principlamente usando Laravel como framework, desarrollo de webs con Wordpress. Maquetación con bootstrap y desarrolo front-end con JavaScript.",
    },
    {
        time: "16/06/2022 - 10/11/2022",
        title: "Reponedor de nocturno | Bonpreu",
        description: "Gestión de stock, almacén.",
    },
    {
        time: "01/09/2021 - 01/10/2021",
        title: "Informador | Ecoembes",
        description:
            "Informar y captar a pie de calle a nuevos usuarios sobre una nnueva applicación de reciclaje",
    },
    {
        time: "20/06/2021 - 23/07/2021",
        title: "Técnico informático de campo | INET S.L",
        description:
            "Reinstalación de sistemas de ordenadores portátiles con Windows 10, ubuntu, Chromebook. Atención y gestion de clientes.",
    },
    {
        time: "14/01/2021 - 31/05/2021",
        title: "Técnico informático | TKS Informática",
        description:
            "Reparación de ordenadores, portátiles. Reistalación de sisitemas operativos. Puesta a punto de nuevos ordenadores. Atención y gestión de clientes. Resolución de incidencias. ",
    },
];
---

<ol class="relative border-s border-gray-200 ml-3 ">
    {
        EXPERIENCE.map(({ time, title, description }) => (
                <li class="mb-10 ms-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700 " />
                    <time class="mb-1 text-sm font-normal leading-none text-[#a3a056]">
                        {time}
                    </time>
                    <h3 class="text-lg font-semibold text-[#5695a3] ">
                        {title}
                    </h3>
                    <p class="mb-4 text-base font-normal text-gray-400">
                       {description}
                    </p>
                </li>  
        ))
    }
</ol>
