---
const EXPERIENCE = [
{
        time: "23/10/2024 - Actualidad",
        title: "Backend Developer | TUYÚ Technology ",
        description:
            `Desarrollador Backend (Subcontratado a NTT Data para Banc Sabadell)<br /><br />

            Trabajo como desarrollador backend en el equipo de NTT Data, brindando soporte a Banc Sabadell. Mis principales responsabilidades incluyen:<br /><br />

            <strong>Mantenimiento y optimización del código</strong>: Gestión continua de aplicaciones backend en Laravel para asegurar la estabilidad, escalabilidad y eficiencia del sistema.<br /><br />

            <strong>Desarrollo de nuevas funcionalidades</strong>: Implementación de nuevas características y mejoras según las necesidades del cliente.<br /><br />

            <strong>Despliegue y gestión de actualizaciones</strong>: Implementación y seguimiento de nuevas versiones de código utilizando Jenkins para automatizar el proceso de despliegue.<br /><br />

            <strong>Colaboración con equipos multidisciplinarios</strong>: Uso de herramientas como Jira para gestionar tareas y GitFlow para control de versiones y colaboración en equipo.<br /><br />

            <strong>Tecnologías y herramientas utilizadas:</strong><br />
            Backend: Laravel, PHP, MySQL<br />
            Frontend: Vue.js, jQuery, JavaScript, Bootstrap<br />
            Control de versiones: Git, GitFlow<br />
            Automatización: Jenkins, CDD<br />
            Gestión de proyectos: Jira<br />
            Entorno de desarrollo: Línea de comandos Linux`
    },
    {
        time: "26/02/2024 - 14/08/2024",
        title: "Backend Developer | ByteTravel S.A",
        description:
            "Desarrollo de backend con Laravel, uso de API’s internas como externas. Mantenimiento de la aplicación, uso de seeders y migraciones. Uso de librerias y frameworks javascript como Jquery, Vue.js. Metodologia SCRUM con Jira",
    },
    {
        time: "09/10/2022 - 10/02/2024",
        title: "Backend Developer | ADD Web services",
        description:
            "Desarrallo de aplicaciones en PHP, principlamente usando Laravel como framework, desarrollo de webs con Wordpress. Maquetación con bootstrap y desarrollo front-end con JavaScript.",
    },
    {
        time: "16/06/2022 - 10/11/2022",
        title: "Reponedor de nocturno | Bonpreu",
        description: "Gestión de stock, almacén.",
    },
    {
        time: "01/09/2021 - 01/10/2021",
        title: "Informador | Ecoembes",
        description:
            "Informar y captar a pie de calle a nuevos usuarios sobre una nueva aplicación de reciclaje",
    },
    {
        time: "20/06/2021 - 23/07/2021",
        title: "Técnico informático de campo | INET S.L",
        description:
            "Reinstalación de sistemas de ordenadores portátiles con Windows 10, ubuntu, Chromebook. Atención y gestión de clientes.",
    },
    {
        time: "14/01/2021 - 31/05/2021",
        title: "Técnico informático | TKS Informática",
        description:
            "Reparación de ordenadores, portátiles. Reinstalación de sisitemas operativos. Puesta a punto de nuevos ordenadores. Atención y gestión de clientes. Resolución de incidencias. ",
    },
];
---

<ol class="relative border-s border-gray-200 ml-3 ">
    {
        EXPERIENCE.map(({ time, title, description }) => (
                <li class="mb-10 ms-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700 " />
                    <time class="mb-1 text-sm font-normal leading-none text-[#a3a056]">
                        {time}
                    </time>
                    <h3 class="text-lg font-semibold text-[#5695a3] ">
                        {title}
                    </h3>
                    <p class="mb-4 text-base font-normal text-gray-400" set:html={description}/>
                </li>  
        ))
    }
</ol>
