<nav>
    <div class="flex flex-wrap gap-4 justify-end pe-8 pt-8  text-xl ">
        <a href="https://drive.google.com/file/d/1L2XK4hJQ414s8Rh7dOn2Z1J7vywJFi_x/view?usp=sharing" target="_blank" class="px-4 py-2 hover:text-gray-300">CV</a>
        <a href="mailto:joelonaferrer@gmail.com" class="bg-gray-800 hover:bg-gray-700 px-4 py-2 rounded shadow-md focus:ring transition-all active:transform active:translate-y-1  ">Contacto</a>
    </div>
</nav>
 <!-- mailto:joelonaferrer@gmail.com -->