--- 
interface Props {
	title: string;
}

const { title } = Astro.props;

import Navbar from '../components/Navbar.astro';

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/letra-j.png" />
		<meta name="generator" content={Astro.generator} />	
		<title>{title}</title>
	</head>
	<body>
		<Navbar></Navbar>
		<slot />
	</body>
</html>
<script>
	document.addEventListener("DOMContentLoaded", function () {
  const elements = document.querySelectorAll(".animate-on-scroll");

  let lastScrollTop = 0; // Variable para rastrear la posición anterior del scroll

  function checkVisibility() {
    elements.forEach((element) => {
      const windowHeight = window.innerHeight;
      const elementTop = element.getBoundingClientRect().top;

      if (elementTop < windowHeight && window.scrollY > lastScrollTop) {
        // Si el elemento es visible y se hace scroll hacia abajo
    
        element.classList.add("active");
    //   } else if (elementTop >= windowHeight && window.scrollY < lastScrollTop) {
    //     // Si el elemento no es visible y se hace scroll hacia arriba
    //     element.classList.remove("active");
    //     element.classList.add("desactivate");
      }
    });

    lastScrollTop = window.scrollY; // Actualiza la posición anterior del scroll
  }

  window.addEventListener("scroll", checkVisibility);
});

	
	
	</script>
<style is:global>
	@font-face {
		font-family: 'Montserrat';
		src: url('../../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	}
	html {
		font-family: 'Montserrat';
		background: #13151A;
		background-size: 224px;
		color-scheme: dark light;
		
	}
	
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	.animate-on-scroll {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s, transform 1s;
}

.animate-on-scroll.active {
    opacity: 1;
    transform: translateX(0);
}
.animate-on-scroll.desactivate {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
}
</style>
